@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Head
{
    <link href="~/Scripts/css/HomePage.css" rel="stylesheet" />
}
<script src="~/Scripts/js/WorkingWithBaidu.js"></script>

    <div id="header">
        <h2>Balanced Multy TSP - Baidu Map Example</h2>
    </div>
    <div id="body">
        <div class="mapContainer row">
            <div class="mapContainer col-sm-8">
                <div id="allmap"></div>

                <div id="path" class='row'>


                </div>
            </div>
            <div class="col-sm-4">
                <p class='text-center'>ToolBox: </p>
                <div class='row'>
                    <div class="col-lg-4 text-center">
                        <button class='btn' onclick="TestRoute()">Test route</button>
                    </div>
                    <div class="col-lg-4 text-center">
                        <button class='btn' onclick="calculateAllDistances()">Calc Dist</button>
                    </div>
                    <div class="col-lg-4 text-center">
                        <button class='btn' onclick="loadTestData()">Test Data</button>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-lg-4 text-center">
                        <button class='btn' onclick="findRoute()">Test route</button>
                    </div>
                    <div class="col-lg-8">
                        <div class='row'>
                            <div class='col-sm-6'>
                                 Home: <input id='homeIdInput' class='text' type='text' value='1' />
                            </div>
                            <div class='col-sm-6'>
                                Travellers: <input id='travAmInput' class='text' type='text' value='1' />
                            </div>
                        </div>
                    </div>
                </div>
                <div id='getDistanceProgressRow' class=' hide row'>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                    <div id='getDistancesProgressBar'></div>
                </div>

                <div id="pointsTable"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        Copyright
    </div>    

<script type="text/javascript">
    $(function () {
        var height = $(window).height();
        $('#allmap').css("height", height*0.75 + "px");
    })
</script>
