@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Head
{
    <link href="~/Scripts/css/HomePage.css" rel="stylesheet" />
}
<script src="~/Scripts/js/WorkingWithBaidu.js"></script>

    <div id="header">
        <h2>Balanced Multy TSP - Baidu Map Example</h2>
    </div>
    <div id="body">
        <div class="mapContainer row">
            <div class="mapContainer col-sm-8">
                <div id="allmap"></div>
            </div>
            <div class="col-sm-4">
                <button class='btn' onclick="TestRoute()">Test route</button>
                <br/>
                ToolBox
                <br />ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
                <br />
                ToolBox
            </div>
        </div>
    </div>
    <div id="footer">
        Copyright
    </div>    

<script type="text/javascript">
    $(function () {
        var height = $(window).height();
        $('#allmap').css("height", height*0.75 + "px");
    })
</script>
